<div id='%s-carousel' class='carousel'>
  <div id='%s-carousel-images' class='images'></div>
  <div id='%s-carousel-controls' class='controls'>
    <div id='%s-carousel-first' class='first control before disabled'>&#8676;</div>
    <div id='%s-carousel-prev' class='prev control before disabled'>&#8592;</div>
    <div id='%s-carousel-count' class='count'>0/0</div>
    <div id='%s-carousel-last' class='last control after disabled'>&#8677;</div>
    <div id='%s-carousel-next' class='next control after disabled'>&#8594;</div>
  </div>
</div>